---
import Client from '../clients/Client.astro';
import { ClientsAll } from '../../constants/clientsStack.astro';
---

<div class="relative pt-16 md:pt-20 md:pb-32 px-4 md:px-8 xl:px-20">
  <div class="flex flex-col gap-5 md:gap-20">
    {ClientsAll.map((clientData) => <Client {...clientData} />)}
  </div>
</div>

<style></style>
