---
import SwiftInventionIcon from '~/assets/images/swift-white-logo.svg';
import meetUsImage from '~/assets/images/new/meet-us.png';
---

<div class="mt-8 md:mt-24 mb-24 md:mb-32 pb-4 px-4 md:px-20 relative">
  <div class="md:w-[60%] z-10 mb-4 md:mb-0 relative">
    <div class="">
      <div class="text-7xl md:text-9xl-desktop transparent-text inline-block">
        Meet
      </div>
    </div>
    <SwiftInventionIcon class="h-8 max-w-[355px] md:h-16 md:max-w-[795px] w-full" />
    <div class="text-xl md:text-xl-desktop mt-4 mb-12 text-white opacity-80">
      Swift was founded in 2012 to help clients transform bold visions into breakthrough software products.
      Our clients collaborate with our cost-effective offshore team of designers, analysts, data scientists, and software developers.
      Together we'll ensure that every project is executed swiftly with precision and excellence.
    </div>
  </div>
  <img
    src={meetUsImage.src}
    class="absolute -top-20 right-0 h-[400px] md:h-auto md:w-[40%] max-w-[525px]"
    alt="Meet us"
  />
</div>

<style></style>
