---
import homeFirstBlockDesktopImage from '~/assets/images/new/home-first-block-desktop.png';
import homeFirstBlockImage from '~/assets/images/new/home-first-block.png';
import Button from '../Button.astro';
---

<div class="relative mt-[96px] px-4 pb-4 md:mb-[232px] md:mt-[216px] md:px-20">
  <div class="relative z-10 mb-4 md:mb-0 md:w-[55%]">
    <h2 class="text-7xl text-white md:text-7xl-desktop">
      We build software, the Swift way
    </h2>
    <div class="mb-12 mt-4 text-xl text-white opacity-80 md:text-xl-desktop">
      We are an experienced team of software designers and engineers that know
      how to take ideas from concept to reality.
    </div>
    <Button classes="w-full md:w-[200px] py-3 text-xl md:text-xl-desktop"
      >Work with us</Button
    >
  </div>
  <picture>
    <source media="(min-width:768px)" srcset={homeFirstBlockDesktopImage.src} />
    <img
      src={homeFirstBlockImage.src}
      width={homeFirstBlockImage.width}
      height={homeFirstBlockImage.height}
      class="relative z-0 xs:mt-[-132px] md:absolute md:right-[130px] md:top-[72px] md:max-w-[50%]"
      alt="Technologies and graphics image"
    />
  </picture>
</div>

<style></style>
